/* You can add global styles to this file, and also import other style files */
body {
  /* The image used */
  background: url('/assets/images/bg.jpg');

  /* Full height */
  height: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
