<style>

  section.content {

    background-color: aquamarine;
    width: 800px;
    padding: 30px;
    margin: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: indigo;
    opacity: 0.5;
    box-shadow: 10px 10px 5px grey;
  }
    h1 {
font-size: 40px;
      font-weight: bold;
      color: darkorchid;
      text-decoration: underline;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px #000000;

    }






</style>
<body>

<h1>The Big Picture</h1>
<section class = "content">
  <h2>Myers Briggs Type Indicator</h2>
  <p class="MBTI">
    MBTI was developed by Isabel Briggs Myers, and her mother, Katherine Briggs, based of Carol Jung personality analysis that focused on four aspects of human psychological function. These functions will be described in more detail below.
  </p>

</section>

<section class="content shadow p-3 mb-5 bg-light rounded">
  <header><h2>Introversion vs Extroversion</h2></header>
  <p class="IntroVsExtro">
    Favorite world: Do you prefer to focus on the outer world or on your own inner world?
    This preference refers to where one tends to get their energy and motivation from; from people and social situations or from internally.
  <div>
    <b>Introversion</b>
    Those who tend to be more introverted usually focus their energy inward towards concepts and ideas. They use their ‘me time’ to recharge their batteries after being outwardly engaged for durations of time. They usually try to get an understanding of the world, they think deeply about things and tend to internalize their thoughts and ideas. They need little external stimulation, they can be easily over-stimulated which is one reason why they might focus more on their inner world.
  </div>
  <div>
    <b>Extraversion</b>
    The energy of extraverts is outward, towards people and things. They get their motivation and ‘recharge their batteries’ from being with other people. They are often viewed as relaxed and confident in social situations. They tend to think first and act later.
  </div>
  <div>
    <b>Ambivert</b>
    Introversion and Extroversion are two extremes on a spectrum. While there are individuals who can and do associate heavily with one side and very little of the other. The majority of people actually fall somewhere near the median in terms of being introverted or extroverted in certain situations. So when you receive an E or I this is only saying that all else being equal you are more likely to act more introverted or extroverted
  </div>

</section>
<section class="content shadow p-3 mb-5 bg-light rounded ">
  <header>Intuition vs Sensing</header>
  <p class ="IntuVsSense">
    Information: Do you prefer to focus on the outer world or on your own inner world?
    Sensing
    <b>Sensors</b>  tend to focus on the present. They are “here and now” people. They lean heavily on their five senses for gathering information about the outside world. They tend to see things as they are because they are concrete and literal thinkers.
    <b>Sensors</b> tend to be:
  </p>
  <ul style="list-style-type:disc">
    <li>Concrete</li>.
    <li>Realistic</li>
    <li>Lives in the present</li>
    <li>Aware of surroundings</li>
    <li>Notice of details</li>
    <li>Practical</li>
    <li>Goes by senses</li>
    <li>Factual</li>
  </ul>
  <p>
    <b>Intuitive</b>
    Intuitive people tend to live in the future and are immersed in the world of possibilities. They process information through patterns and impressions. Intuitives people value inspiration and imagination. They gather their knowledge from the universe by reading between the lines. Their abstract nature attracts them toward deep ideas and concepts. They tend to see the “big picture”.
    Intuitives tend to be:
  <ul>
    <li>Future-focused</li>
    <li>Sees possibilities</li>
    <li>Inventive</li>
    <li>Imaginative</li>
    <li>Deep</li>
    <li>Abstract</li>
    <li>Idealistic</li>
    <li>Theoretical</li>
  </ul>

</section>
<section class="content shadow p-3 mb-5 bg-light rounded">
  <header><h2>Feeling vs Thinking</h2> </header>
  <p class = "FeelVsThink">
    The original naming of these types is a little archaic in that thinking refers to more than merely thought, and feeling is not about being over-emotional or sensitive. They are more about how we make decisions; through logic or through considering people
    <b>Thinking</b>
    Thinkers make their decisions primarily on logic, and when they do so, they consider a decision to be made. They tend to see the world I black and white and dislike fuzziness or obscurity.
    Decisions: When making decisions, do you prefer to first look at logic and consistency or first look at the people and special circumstances?
    <b>Thinkers</b>  tend to be:
  <ul>
    <li>Brief and concise</li>
    <li>Logical; have order to their thoughts</li>
    <li>Intellectually critical and objective</li>
    <li>Calm and reasonable</li>
    <li>Don’t assume that feelings are unimportant; they give things their own logical value</li>
    <li>Present feeling and emotions as additional facts to be weighed in a decision.</li>
  </ul>
  <p>
    <b>Feeling</b>
    Feelers decide based primarily through social considerations, listening to their heart and considering the feelings of others. They see life as a human existence and material things as being subservient to this. They value harmony and use tact in their interactions with others.
    <b>Feelers</b> tend to /be:
  <ul>
    <li>Introduce themselves and get to know people; full acceptance may take a long time.</li>
    <li>Be personable and friendly</li>
    <li>Demonstrate empathy by showing areas of agreement first</li>
    <li>Show how the idea will affect people what people’s reaction would be.</li>
    <li>Aware that how you communicate is as important as what you’re communicating.</li>
    <li>Accept decisions that may not be based on facts.</li>
  </ul>

</section>
<section class ="content shadow p-3 mb-5 bg-light rounded">
  <header><h2>Judging vs Perceiving</h2></header>
  <p class = "JudgeVsPerc">
    <b>Structure:</b> In dealing with the outside world, do you prefer to get things decided or do you prefer to stay open to new and options?
    Judging
    Judging people think sequentially. They value order and organization. Their lives are scheduled and structured. Judging people seek closure and enjoy completing tasks. They take deadlines seriously. They work then they play. Judging doesn’t necessarily mean judgmental, more so how a person deals with the day to day tasks.
    <b>Judgers</b> tend to be:
  <ul>Decisive
    <li>Controlled</li>
    <li>Good at finishing</li>
    <li>Organized</li>
    <li>Structured</li>
    <li>Scheduled</li>
    <li>Quick at tasks</li>
    <li>Responsible</li>
    <li>Likes closure</li>
    <li>Makes plans</li>
  </ul>
  <p>
  <h3>Perceiving</h3>
  <p>Perceivers are adaptable and flexible. They are random thinkers who prefer to keep their options open. Perceivers thrive with the unexpected and are open to change. They are spontaneous and often juggle several projects at once. They enjoying starting a task better than finishing it. Deadlines are often merely suggestions. Perceivers play as they work.
  </p>
  <p><b>Perceivers</b> tend to be:</p>

  <ul>

    <li>Adaptable</li>
    <li>Relaxed</li>
    <li>Disorganized</li>
    <li>Care-free</li>
    <li>Spontaneous</li>
    <li>Changes tracks midway</li>
    <li>Keeps options open</li>
    <li>Procrastinates</li>
    <li>Dislikes routine</li>
    <li>Flexible</li>
  </ul>
</section>
<section class="content shadow p-3 mb-5 bg-light rounded ">
  <p>After reading through this short synopsis of the Myers-Briggs Type Indicator. I hope we have peaked your curiosity about the inner workings of your mind and we genuinely hope our site will help you make amazing connections.</p>

  <p><b>Please Enjoy!</b></p>
</section>

</body>
