<form class="lgForm" #f="ngForm" novalidate>
  <div class="input">
    <label>Username</label>
    <input type="text" name="username" [ngModel] required>
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password" name="password" [ngModel] required>
  </div>
  <div class="input">
    <button
      type="submit"
      [disabled]="!f.valid"
      (click)="loginClick(f.value, f.valid)">Login</button>
  </div>
  <div class="input">
    <button
      type="button"
      (click)="newUserClick()">New User</button>
  </div>
</form>
