header{
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-bottom: 2px solid #eee;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  left:0;
  top: 0;
  height: 40px;
}
