<div class="container">
  <div>
    <div class="image">
      Photo = {{user.photo}}
    </div>
  </div>
  <div>
    <div>
      <div class="first-name">
        First Name: {{user.firstName}}
      </div>
    </div>
    <!--<div>-->
      <!--<div class="last-name">-->
        <!--Last Name: {{user.lastName}}-->
      <!--</div>-->
    <!--</div>-->
    <div>
      <div class="bio">
        Bio: {{user.bio}}
      </div>
    </div>
    <div>
      <div class="myers">
        Myers: {{user.myers}}
      </div>
    </div>
  </div>
</div>
