<form class="lgForm" #f="ngForm" novalidate>
  <div class="input">
    <label>Username</label>
    <input type="text" name="username" [ngModel] required>
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password" name="password" [ngModel] required>
  </div>
  <div class="input">
    <label>Confirm Password</label>
    <input type="password" name="cPassword" [ngModel] required>
  </div>
  <!--<div class="input" [class.has-error]="password.touched && password.required">-->
    <!--<label>Password</label>-->
    <!--<input type="password" name="password" class="form-control"-->
           <!--[(ngModel)]="user.password"#password required>-->
    <!--<span class="help-block" *ngIf="password.touched && password.errors?.required">-->
      <!--Password is required-->
    <!--</span>-->
  <!--</div>-->
  <!--<div class="input" [class.has-error]="pConfirm.touched && pConfirm.required">-->
    <!--<label>Confirm password</label>-->
    <!--<input type="password" name="pConfirm" class="form-control"-->
           <!--[(ngModel)]="user.pConfirm"#pConfirm required>-->
    <!--<span class="help-block" *ngIf="pConfirm.touched && pConfirm.errors?.required">-->
      <!--Password is required-->
    <!--</span>-->
  <!--</div>-->
  <div class="input">
    <label>Email</label>
    <input type="text" name="email" [ngModel] required>
  </div>
  <div class="input">
    <button
      type="submit"
      [disabled]="!f.valid"
      (click)="registerUserClick(f.value)">Login</button>
  </div>
</form>
